<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 style="margin: 10px;">Club Sport Emelec, mayormente conocido como Emelec, es un club deportivo ecuatoriano originario de la ciudad de Guayaquil, fundado el 28 de abril de 1929 por el estadounidense George Capwell.
    Su disciplina principal es el fútbol en el que es parte de la Serie A de Ecuador desde 1957. Ha obtenido 14 títulos nacionales en esta disciplina, además de otros títulos provinciales y amateurs. Internacionalmente fue subcampeón de la Copa Merconorte 20018​ y fue electo club del mes del mundo según la IFFHS en junio de 2010.</h1>
    
</ion-content>
